<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<%- include('head'); %>
</head>
<body>
<%- include('header'); %>
	
<div class="inbox">

		<h3>PRUDUCT DISPLAY</h3>
		<h2><%- title %></h2>
		<h2 class="line"></h2>
		<p style="margin: auto;text-align: left;;font-size: 20px;font-weight: 200;width: 1100px;"> <%- data.content%>
		</p>

		

</div>

<%- include('footer'); %>
</body>
</html>